@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Delius+Unicase:wght@400;700&family=Inter:wght@400;700;800&family=Roboto&display=swap');


body{
    margin: 0%;
    background-color: #3b4664;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    margin: auto;
    position: absolute;
    height: 450px;
    width: 400px;
    background-color: #3b4664;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#display{
    height: 70px;
    width: 320px;
    padding: 15px;
    background-color: #181F32;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 34px;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
}
#frame{
    height: 290px;
    width: 350px;
    background-color: #252D44;
    display: grid;
    justify-content: center;
    padding-top: 20px;
    grid-template-rows: 55px 55px 55px 55px 55px ;
    grid-template-columns: 80px 80px 80px 80px ;
    border-radius: 8px;
}
button{
    background-color: #EAE3DB;
    color: #3B4664;
    margin: 7px;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 800;
}
button:hover{
    cursor: pointer;
}
button:active{
    transform: translateY(2px);
    border-color: aqua;
}
.back{
    background-color: #647299;
    color: #FFFFFF;
}
#reset{
    color: white;
    background-color: #647299;
    grid-column-start: 1;
    grid-column-end: 3;
}
#equals{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #D13F30;
    color: #FFFFFF;
}